p, ol{
    font-size: 16px;
}
@media (min-width:360px){
    .mediaVideo{
        height: 100px;
        display:"none"
    }
}
h1, h2{
    color: #00284d;
    text-align: center;
}



.divCenter{
    margin:auto;
    display: block;
}

.divFooters{
    padding-top: "50px";
    padding-bottom: "50px";
    background-color: "hsl(163, 59%, 55%, 1)";
}

.back{
    height: "500px";
    background-image: url('../img/sunset.jpg');
    background-size: cover;
    background-position: center;
    
}

@media (max-width: 480px) { /* Specific to this particular image */
    .back {
      height: 360px;
    }
  }

  .item:hover{
      display: block;
  }

