.nv{
    margin-bottom: 0px;
    padding: 5px;
    width: 100%;
    top: 0;
    background-color: #59e688;
    z-index: 1;
    position: relative;

  }
  h4{
      color: #85e085;
  }
  .nv h1{
      text-align: center;
      color: white;
  }
small{
    color: grey;
}

  .navbar1{
      display: flex;
      justify-content: space-between;
      color: white;
  }

  .brand{

  }


  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navl ul{
      margin: 0;
      padding: 0;
      display: flex;
  }

  .navl ul li {
      list-style: none;
  }

  .navl li a{
      text-decoration: none;
      color: white;
      padding: .5rem;
      display: block;
      font-weight: 2rem;

  }
  .header{
      background-color: teal;
  }

.toggle{
    position: absolute;
    top: .75rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

}

@media (max-width:360px){
    .navbar1{
        flex-direction: column;
        align-items: flex-start;
    }
    .brand{
        display: none;
    }
}

.btnL li{
    /* background-image: linear-gradient(to right,teal, #59e688); */
    border-radius: 50px;
    margin: .5rem;
    
}

/* .btnL li:hover{
    border-radius: 25px;
    background-color: rgb(6, 78, 78);

} */

.footer{
    background-color: hsla(163, 60%, 60%, 0.9);
    padding-top: 20px;
    color: white;
}

.footer img{
    border-radius: 50px;
}
.footer ul{
    list-style: none;
}

.divFooter{
    background-color: hsla(163, 59%, 40%, 0.9);
    margin-top: 20px;
    padding: 5px;
    color: white;
}
p{
    font-size: 18px;
}
ul, ol{
    font-size: 18px;
}

.section img{
    filter: grayscale(100%);
}

.section img:hover{
    filter: grayscale(0%);
}

.contribution{
    background-color: grey;
    padding: 10px;
    margin-bottom: 50px;
    color: white;
    font-weight:18px;
}